#divProductCart {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1%;
  background-color: rgb(187, 178, 176);
  grid-auto-columns: 1fr;
}

.btnWarningProductCart {
  background-color: #ffc107;
  width: auto;
  font-weight: bold;
}

.btnDangerProductCart {
  background-color: #f13030;
  border: 2px black;
  border-style: solid;
  text-align: center;
  font-weight: bold;
}

#divCompletePurchase {
  display: flex;
  justify-content: center;
}

#btnCompletePurchase {
  width: 100%;
}

