@import url("./ProductCart.css");
@import url("./ClientForm.css");
@import url("./ProductList.css");

.table {
  margin-top: 1%;
}

#divOperationBalance{
  display: grid;
}

#divProductController {
  margin-right: 5px;
  display: grid;
  grid-template-columns: 50px 50px 50px 100px 100px;
}

.btnPrimary {
  background-color: #2069f1;
  border: 2px black;
  border-style: solid;
  text-align: center;
  font-weight: bold;
}

.card {
  margin: 10%;
}

.active-nav-item {
  background-color: #f5d20afd; /* Color de fondo cuando está activo */
}
