.cardsDiv h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff; 
  background: linear-gradient(to right, #737529, #fff700);
  padding: 10px 20px; 
  margin: 0 0 0 20px;
  border-radius: 4px; 
}

.book {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 480px;
  box-shadow: 0 0 20px #aaa;
  margin: 20px;
  padding: 10px 10px 0 10px;
}

.description {
  height: 200px;
}

.title {
  height: 100px;
  overflow: hidden;
}

#btnShowDetails,
.btn-remove {
  position: absolute;
  bottom: 5px;
  left: 140px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 100px;
  transition: background 0.3s;
  font-weight: bold;
  color: white;
  background: #ad5389;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btnAddToCart {
  position: absolute;
  bottom: 5px;
  padding: 8px 12px;
  background: #777bcb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  color: #fff;
  border-radius: 100px;
  background-color: #4c43cd;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cover {
  position: relative;
  border: 3px solid gray;
  height: 80%;
  overflow: hidden;
  height: 370px;
}

.cover img {
  width: 100%;
  height: 100%;
}

.book p {
  font-weight: bold;
  margin-top: 2px;
  font-size: 14px;
}

.book .author {
  font-size: 15px;
}


@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
