.cardsDiv{
  min-height: 1060px;
}

.book {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 480px;
  box-shadow: 0 0 20px #aaa;
  margin: 20px;
  padding: 10px 10px 0 10px;
}
.description{
  height: 200px;
}

.title{
  height: 100px;          /* fija un alto */
  overflow: hidden;      /* esconde lo que sobra */ 
}

#btnShowDetails, .btn-remove {
  position: absolute;
  bottom: 5px;
  left: 140px;
  padding: 8px 12px;
  background: #ced47d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  transition: background 0.3s;
}
#btnAddToCart{
  position: absolute;
  bottom: 5px;
  padding: 8px 12px;
  background: #777bcb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.bloqueado {
  pointer-events: none;
  opacity: 0.5; 
}

#btnShowDetails.active {
  background: #d32f2f; 
}

.cover {
  position: relative;
  border: 3px solid gray;
  height: 80%;
  overflow: hidden;
  height: 370px;
}

.cover img {
  width: 100%;
  height: 100%;
}

.book p {
  font-weight: bold;
  margin-top: 2px;
  font-size: 14px;
}

.book .author {
  font-size: 15px;
}

.divBookDetails {
  position: absolute;
  bottom: -100%; /* 👈 empieza oculto */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(83, 83, 83, 0.8);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  transition: bottom 0.4s ease; /* 👈 animación */
}

.divBookDetails .bookAuthor,
.bookTitle {
  font-size: smaller;
  margin: 0;
}

.book.show-info .divBookDetails {
  bottom: 0; /* 👈 se desliza hacia arriba */
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
