.containerHome, .containerCatalog {
  background-color:#f2f2f2;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  align-items: start;
}

.book {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  border-radius: 8px solid;
}

.cardsDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  padding: 0;
}

.cardsDiv h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #737529, #fff700);
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 4px;
  grid-column: 1 / -1; /* ocupa todas las columnas */
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  height: 200px;
}

.title {
  height: 100px;
  overflow: hidden;
}

#btnShowDetails,
.btn-remove {
  position: absolute;
  bottom: 5px;
  left: 140px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 100px;
  transition: background 0.3s;
  font-weight: bold;
  color: white;
  background: #ad5389;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btnAddToCart {
  position: absolute;
  bottom: 5px;
  padding: 8px 12px;
  background: #777bcb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  color: #fff;
  border-radius: 100px;
  background-color: #4c43cd;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cover {
  border: 3px solid gray;
  height: 80%;
  overflow: hidden;
  height: 100%;
}

.cover img {
  width: 100%;
  height: 100%;
  display: block;
}

.book p {
  font-weight: bold;
  margin-top: 2px;
  font-size: 14px;
}

.book .author {
  font-size: 15px;
}

@media (max-width: 768px) {
  .containerHome {
    grid-template-columns: 1fr; 
  }
  .aisde {
    grid-column: 1 / -1; 
  }
  .main {
    grid-column: 1 / -1; 
  }
}