.carousel {
  margin-top: 20px;
}

.carousel .listBookSeen {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-left: 0;
  max-height: 570px;
}

.listBookSeen .book {
  scroll-snap-align: center;
}
