footer {
  background-color: #f0f0f0;
  padding-top: 20px;
}

.grid {
  padding: 10px;
  background-color: #f0f0f0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px repeat(2, minmax(0, 1fr));
}

.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}

.map {
  border: 0;
  width: 100%;
  display: block;
}

.divMap {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial";
}

.divMap h3 {
  line-height: 26px;
  margin: 20px 20px 5px;
  font-size: 23px;
  color: #333;
  align-self: baseline;
}

.divMap p {
  font-size: 15px;
  margin: 0 20px 20px;
}

.section-head {
  padding-bottom: 0;
}

.section-head h2 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 20px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media (max-width: 768px) {
  footer {
    padding: 50px 0 80px;
  }
  .section-head h2 {
    font-size: 2em;
    margin: 0 0 0.67em 0;
  }
  .section-head {
    grid-column: 1 / -1;
  }
  .divMap {
    grid-column: 1 / -1;
  }
}
