header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #111;
  border-bottom: 1px solid #676767;
}

header .nav {
  color: #fff;
  font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode,
    Tahoma, Sans-Serif;
  font-style: normal;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

header .nav:hover {
  color: #ff9900;
  text-shadow: 0 0 6px #ff9900, 0 0 12px #ff6600;
  transform: scale(1.03);
  cursor: pointer;
}

header img {
  height: 40px;
  width: 40px;
}

header .nav .nav-icon {
  display: none;
}

/*Tablets en horizontal y escritorios normales */
@media (max-width: 767px) {
  header .nav {
    font-size: 0.9rem;
  }
}

/*Celulares en horizontal o tablet en vertical*/
@media (max-width: 480px) {
  header {
    flex-direction: row;
    align-items: flex-start;
  }

  header .nav {
    display: block;
    margin: 0.5rem;
  }

  .nav-text {
    display: none;
  }

  header .nav .nav-icon {
    display: inline;
  }
}