.divPagination {
  position: relative;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  pointer-events: auto;
  font-family: Arial, sans-serif;
  color: #F0F0F0;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 15px;
}


.divPagination a {
  text-decoration: none;
  color: #333;               
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s;
}

.divPagination a:hover {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.divPagination a.active {
  font-weight: bold;
  border: 1px solid #007bff;  
  color: #007bff;
  background-color: #fff;
}