@import url(./header.css);
@import url(./footer.css);
@import url(./aside.css);
@import url(./card.css);
@import url(./pagination.css);
@import url(./carousel.css);
@import url(./bookCart.css);
@import url(./form.css);
@import url(./modal.css);

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: linear-gradient(180deg, #fff, #262626);
}

[hidden] {
  display: none !important;
}