.textAnalyzed{
    padding-top: 20px;
}
#txtResult{
    height: 170px;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff; /* Color de texto blanco */
    background-color: goldenrod; /* Color de fondo azul */
    padding: 10px 20px; /* Padding interno */
    margin-bottom: 20px; /* Espacio inferior */
    border-radius: 4px; /* Bordes redondeados */
}
label{
    font-weight: bold;
}